# VacationPy
----

In [9]:
# Dependencies and Setup:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key:
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("data_output/cities_output.csv")
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_temp,Wind_speed
0,port elizabeth,92,ZA,1586650267,63,-33.92,25.57,62.60,5.82
1,sandwick,100,GB,1586650185,81,60.00,-1.25,46.40,27.51
2,new norfolk,40,AU,1586650004,58,-42.78,147.06,55.99,19.46
3,chokwe,0,MZ,1586650267,83,-24.53,32.98,67.57,4.47
4,muros,90,ES,1586650267,93,42.78,-9.06,55.00,4.70
...,...,...,...,...,...,...,...,...,...
554,orbottyan,8,HU,1586650313,52,47.69,19.28,50.00,2.24
555,lakes entrance,86,AU,1586650313,73,-37.88,147.98,55.99,1.01
556,borovsk,11,RU,1586650313,79,55.21,36.49,28.40,6.71
557,tabou,99,CI,1586650313,82,4.42,-7.35,80.04,3.40
558,bay city,1,US,1586650313,40,43.59,-83.89,54.00,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [23]:
# Configure gmaps:
gmaps.configure(api_key=g_key)

# Extract the coordinates and humidity values:
location = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]

# Plot the map:
fig = gmaps.figure()

# Create the heat layer:
heat_layer = gmaps.heatmap_layer(location, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=5)

# Add heat layer to map and display the map:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# Create a new dataframe consisting of cities that currently have the ideal weather conditions:

ideal_weather_df = cities_df.loc[(cities_df["Max_temp"] < 80) & (cities_df["Max_temp"] > 70) \
                                 & (cities_df["Wind_speed"] < 10) \
                                 & (cities_df["Cloudiness"] == 0)]

# Drop rows with null values and display dataframe:

ideal_weather_df.dropna()
ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_temp,Wind_speed
274,aregua,0,PY,1586650290,46,-25.31,-57.38,71.60,6.93
311,phultala,0,BD,1586650293,95,22.70,89.52,74.17,5.23
409,asuncion,0,PY,1586650070,46,-25.30,-57.64,71.60,6.93
463,srikakulam,0,IN,1586650305,86,18.30,83.90,78.04,5.48
474,tezu,0,IN,1586650307,31,27.92,96.17,70.75,3.60
546,songadh,0,IN,1586650312,22,21.17,73.57,79.56,1.54

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# Create a new dataframe to store hotel information:

hotel_df = ideal_weather_df.loc[:, ["City", "Lat", "Lng"]]
hotel_df["Hotel"] = ""
hotel_df

           City    Lat    Lng Hotel
274      aregua -25.31 -57.38
311    phultala  22.70  89.52
409    asuncion -25.30 -57.64
463  srikakulam  18.30  83.90
474        tezu  27.92  96.17
546     songadh  21.17  73.57

In [6]:
# params = {
#     "key": g_key,
#     "radius": 5000,
#     "types": "lodging",
# }

# # Iterate through
# for index, row in hotel_df.iterrows():
#     # get lat, lng from df
#     lat = row["Lat"]
#     lng = row["Lng"]
#     params["location"] = f"{lat},{lng}"
#     # Use the search term: "Hotel" and our lat/lng
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # make request and print url
#     name_address = requests.get(base_url, params=params)
#     # convert to json
#     name_address = name_address.json()
#     # Grab the first hotel from the results and store the name
#     try:
#         hotel_df.loc[index, "Hotel"] = name_address["results"][0]["name"]
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")
        
# hotel_df

In [20]:
# Declare base url and parameters that will be used to make the API call:

params = {
    "key": g_key,
    "radius": 5000,
    "types": "lodging",
}

# Loop through each row and make calls to the Google Places API:

for index, row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    city = row["City"]
    latitude = row["Lat"]
    longitude = row["Lng"]
    params["location"] = f"{latitude}, {longitude}"

    print(f"Retrieving results for {city}:")
    
    response = requests.get(base_url, params=params).json()
    
    try:
        hotel_name = response["results"][0]["name"] 
        print(f"Closest hotel in {city} is {hotel_name}.")
        hotel_df.loc[index, "Hotel"] = hotel_name
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")      
              
    print("------------")
    
hotel_df

Retrieving results for aregua:
Closest hotel in aregua is La Aparecida B&B Hotel.
------------
Retrieving results for phultala:
Closest hotel in phultala is Shuvra enterprise& cafe.
------------
Retrieving results for asuncion:
Closest hotel in asuncion is Crowne Plaza Asuncion.
------------
Retrieving results for srikakulam:
Closest hotel in srikakulam is Sriram residency.
------------
Retrieving results for tezu:
Closest hotel in tezu is Circuit House.
------------
Retrieving results for songadh:
Closest hotel in songadh is SPOT ON 61520 Shivam Guest House.
------------

           City    Lat    Lng                             Hotel
274      aregua -25.31 -57.38            La Aparecida B&B Hotel
311    phultala  22.70  89.52           Shuvra enterprise& cafe
409    asuncion -25.30 -57.64             Crowne Plaza Asuncion
463  srikakulam  18.30  83.90                  Sriram residency
474        tezu  27.92  96.17                     Circuit House
546     songadh  21.17  73.57  SPOT ON 61520 Shivam Guest House

In [24]:
# Display humidity heatmap from above:
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Using the template add the hotel marks to the heatmap:

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row (not working, causing code to break):
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

# Assign the marker layer to a variable:
markers = gmaps.marker_layer(locations)

# Add the layer to the map:
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))